*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(247, 191, 37);
}
img{
    display: block;
    width: 100%;
}
section{
    max-width: 1200px;
    margin: 0px auto;
    column-count: 5;
}
div{
    background-color: rgba(255, 240, 157, 0.5);
    border-radius: 10px;
    margin-bottom: 15px;
    overflow: hidden;
    break-inside: avoid-column;
    box-shadow: 0px 0px 5px #000000;
}
div p{
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}
div h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    text-align: center;
}
header{
    height: 120px;
    margin:10px auto;
    max-width: 1200px;    
    background-color:rgba(255, 240, 157, 0.5) ;
    border-radius: 15px;
    box-shadow: 0px 0px 5px #000000;
}
header h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    line-height: 120px;
}
@media(max-width:1000px){
    section{
        max-width: 800px;
        column-count: 4;
    }
    header{
        max-width: 800px;
    }
}
@media(max-width: 500px){
    section{
        column-count: 2;
    }
}
